body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.home-navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.span {
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}
.header-div {
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header-ul {
  display: flex;
  gap: 40px;
}
.header-ul .list .etiket {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.header-ul .list .etiket:hover,
.header-ul .list .etiket:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .address-link {
  display: flex;
  gap: 40px;
}
.address-link .list .etiket {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.address-link .list .etiket:hover,
.address-link .list .etiket:focus {
  color: #404bbf;
}
.button {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.hero {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0;
}
.hero-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.flex-hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.four {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-second {
  background-color: #ffffff;
  padding: 120px 0;
}

.section-ul {
  display: flex;
  gap: 24px;
}

.section-ul .list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.section-ul .list .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.section-ul .list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.section-portfolio {
  background-color: #ffffff;
  padding: 120px 0;
}
.section-ul.four .list.last {
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
}
.section-ul .list.section-second-list {
  width: calc((100% - 72px) / 4);
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer .logo .span {
  color: #f4f4fd;
  display: inline-block;
}
.footer .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.card {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
